<div class="panel panel-default top-buffer">
    <div class="panel-heading">{{ page.question }}</div>
    <div class="panel-body">
        <div class="row marketing">
            <div class="col-md-4">
                <h4><a href="{{ page.links.qyes }}">Yes</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a href="{{ page.links.qno }}">No</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a href="{{ page.links.qdontknow }}">Don't know</a></h4>
            </div>
        </div>
    </div>
</div>
