      <div id="heading">
	<a href="/"><img src="/assets/images/logo.png" alt="HWDP Logo"/></a>
	Health Workforce Diagnostic Platform (HWDP)
      </div>
      <div id="tabs">
        <ul>
          <li class="active">
	    <a href="/">Home</a>
	  </li>
	  <li>
	    <a href="#">Equality</a>
	  </li>
	  <li>
	    <a href="#">Retention</a>
	  </li>
	  <li>
	    <a href="#">Performance</a>
	  </li>
	  <li>
	    <a href="#">Efficiency</a>
	  </li>
	  <li>
	    <a href="#">Skills Mix</a>
	  </li>
	  <li>
	    <a href="#">Education</a>
	  </li>
        </ul>
      </div>
