body {
  background: white;
  color: #333333;
  font-family: Arial, sans-seriff;
  font-size: 14px;
  padding: 20px 0; }

a {
  color: #413f40;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #413f40; }

p {
  color: #747273; }

h1 {
  padding: 0;
  margin: 10px 0;
  color: #3871c1;
  font-weight: normal;
  font-size: 1.5em; }

h2 {
  padding: 0 0 5px 0;
  margin: 10px 0;
  color: #3871c1;
  border-bottom: 1px solid #3871c1;
  font-weight: normal;
  font-size: 1.5em; }

h3 {
  padding: 0 0 5px 0;
  margin: 10px 0;
  color: #333333;
  border-bottom: 1px solid #333333;
  font-weight: bold;
  font-size: 1em; }

p {
  padding: 0;
  margin: 10px 0; }

ul.list-oversize {
  padding: 0;
  margin: 10px 0; }
  ul.list-oversize li {
    padding: 20px 0 20px 40px;
    margin: 0;
    list-style: none;
    background: url("/assets/images/bullet-orange.svg") 5px center no-repeat;
    border-bottom: 1px solid #333333; }
    ul.list-oversize li .list-bullet-grey {
      background: url("/assets/images/bullet-grey.svg") 5px center no-repeat; }
      ul.list-oversize li .list-bullet-grey:hover {
        background-color: #E1E1E1;
        /* Fallback */
        background: url("/assets/images/bullet-grey.svg") 5px center no-repeat, -webkit-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* Safari 5.1+, Chrome 10+ */
        background: url("/assets/images/bullet-grey.svg") 5px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(rgba(225, 225, 225, 0)));
        /* Safari 4-5, Chrome 1-9 */
        background: url("/assets/images/bullet-grey.svg") 5px center no-repeat, -moz-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* Firefox 3.6+ */
        background: url("/assets/images/bullet-grey.svg") 5px center no-repeat, -ms-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* IE 10 */
        background: url("/assets/images/bullet-grey.svg") 5px center no-repeat, -o-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* Opera 11.10+ */ }
    ul.list-oversize li .list-bullet-orange {
      background: url("/assets/images/bullet-orange.svg") 5px center no-repeat; }
      ul.list-oversize li .list-bullet-orange:hover {
        background-color: #E1E1E1;
        /* Fallback */
        background: url("/assets/images/bullet-orange.svg") 5px center no-repeat, -webkit-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* Safari 5.1+, Chrome 10+ */
        background: url("/assets/images/bullet-orange.svg") 5px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(rgba(225, 225, 225, 0)));
        /* Safari 4-5, Chrome 1-9 */
        background: url("/assets/images/bullet-orange.svg") 5px center no-repeat, -moz-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* Firefox 3.6+ */
        background: url("/assets/images/bullet-orange.svg") 5px center no-repeat, -ms-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* IE 10 */
        background: url("/assets/images/bullet-orange.svg") 5px center no-repeat, -o-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* Opera 11.10+ */ }
    ul.list-oversize li .list-bullet-arrow {
      background: url("/assets/images/bullet-arrow.svg") 5px center no-repeat; }
      ul.list-oversize li .list-bullet-arrow:hover {
        background-color: #E1E1E1;
        /* Fallback */
        background: url("/assets/images/bullet-arrow.svg") 5px center no-repeat, -webkit-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* Safari 5.1+, Chrome 10+ */
        background: url("/assets/images/bullet-arrow.svg") 5px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(rgba(225, 225, 225, 0)));
        /* Safari 4-5, Chrome 1-9 */
        background: url("/assets/images/bullet-arrow.svg") 5px center no-repeat, -moz-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* Firefox 3.6+ */
        background: url("/assets/images/bullet-arrow.svg") 5px center no-repeat, -ms-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* IE 10 */
        background: url("/assets/images/bullet-arrow.svg") 5px center no-repeat, -o-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
        /* Opera 11.10+ */ }
    ul.list-oversize li:last-child {
      border-bottom: none; }
    ul.list-oversize li:hover {
      background-color: #E1E1E1;
      /* Fallback */
      background: url("/assets/images/bullet-orange.svg") 5px center no-repeat, -webkit-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
      /* Safari 5.1+, Chrome 10+ */
      background: url("/assets/images/bullet-orange.svg") 5px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(rgba(225, 225, 225, 0)));
      /* Safari 4-5, Chrome 1-9 */
      background: url("/assets/images/bullet-orange.svg") 5px center no-repeat, -moz-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
      /* Firefox 3.6+ */
      background: url("/assets/images/bullet-orange.svg") 5px center no-repeat, -ms-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
      /* IE 10 */
      background: url("/assets/images/bullet-orange.svg") 5px center no-repeat, -o-linear-gradient(top, #e1e1e1, rgba(225, 225, 225, 0));
      /* Opera 11.10+ */ }

form.search input {
  padding-left: 10px;
  width: 127px;
  height: 26px;
  float: right;
  border: 1px solid #a7a5a6;
  border-right: none;
  border-radius: 15px 0 0 15px; }
form.search button {
  height: 30px;
  float: right;
  border: none;
  border-radius: 0 15px 15px 0;
  margin: 0;
  color: white;
  margin-left: -2px;
  font-size: 12px;
  padding: 5px 10px;
  background: #314385;
  background: -webkit-gradient(linear, left top, left bottom, from(#356ebf), color-stop(0.5, #356ebf), to(#314385));
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
  /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
  /* IE 10 */
  background: -o-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
  /* Opera 11.10+ */ }
form.search:after {
  content: '';
  display: block;
  height: 0;
  clear: both; }
form.search.home-search {
  margin: 10px 0 0 0;
  width: 200px;
  float: right; }

#content {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative; }

#heading {
  width: 585px;
  height: 75px;
  padding: 0 15px 0 0;
  margin-left: 200px;
  background-color: #a8d0f0;
  /* Fallback */
  background: -webkit-gradient(linear, left top, right top, from(#a8d0f0), to(white));
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(left, white, #a8d0f0);
  /* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(left, white, #a8d0f0);
  /* Firefox 3.6+ */
  background: -ms-linear-gradient(left, white, #a8d0f0);
  /* IE 10 */
  background: -o-linear-gradient(left, white, #a8d0f0);
  /* Opera 11.10+ */
  color: #3871c1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  line-height: 75px; }
  #heading img {
    margin-left: -200px;
    margin-top: 10px;
    height: 55px;
    float: left; }

#tabs {
  margin: 20px 0 5px 0;
  padding: 0;
  color: #3871c1; }
  #tabs a {
    color: inherit; }
  #tabs ul {
    padding: 0;
    margin: 0; }
    #tabs ul li {
      float: left;
      width: 98px;
      box-sizing: border-box;
      background: #a8d0f0;
      list-style: none;
      padding: 8px 0;
      margin: 1px;
      border-radius: 10px 10px 0 0;
      text-align: center;
      -webkit-box-shadow: inset 0 -8px 16px -8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 -8px 16px -8px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 -8px 16px -8px rgba(0, 0, 0, 0.5); }
      #tabs ul li.active {
        color: white;
        background: #314385;
        background: -webkit-gradient(linear, left top, left bottom, from(#356ebf), color-stop(0.5, #356ebf), to(#314385));
        /* Safari 4-5, Chrome 1-9 */
        background: -webkit-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
        /* Safari 5.1+, Chrome 10+ */
        background: -moz-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
        /* Firefox 3.6+ */
        background: -ms-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
        /* IE 10 */
        background: -o-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
        /* Opera 11.10+ */ }
      #tabs ul li:nth-child(8) {
        padding: 0; }
  #tabs:after {
    content: '';
    display: block;
    height: 0;
    clear: both; }

#breadcrumbs {
  font-size: 12px;
  padding: 0;
  margin: 10px 0;
  color: #333333; }
  #breadcrumbs a {
    color: inherit; }

#box {
  padding: 15px 10px;
  margin: 10px 0;
  text-align: center;
  color: #3871c1;
  font-size: 16px;
  background: #a8d0f0;
  border-radius: 10px; }
  #box span.title {
    color: white;
    text-transform: uppercase;
    font-weight: bold; }

#question {
  padding: 15px 10px;
  margin: 10px 0;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  color: #3871c1;
  background: #a8d0f0; }
  #question button {
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px;
    margin: 2px 0;
    color: #3871c1;
    background: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px; }
    #question button:hover {
      border: 1px solid #3871c1; }
  #question.question-orange {
    color: white;
    background: #e18013; }
  #question.question-blue {
    color: #3871c1;
    background: #a8d0f0; }

#main {
  position: relative;
  margin: 5px 0;
  padding: 0;
  border-radius: 10px;
  background-color: #e9e9e9;
  /* Fallback */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e9e9), to(white));
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, #e9e9e9, white);
  /* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(top, #e9e9e9, white);
  /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #e9e9e9, white);
  /* IE 10 */
  background: -o-linear-gradient(top, #e9e9e9, white);
  /* Opera 11.10+ */ }
  #main:after {
    content: '';
    display: block;
    height: 0;
    clear: both; }
  #main #main-content {
    padding: 10px;
    float: left;
    width: 560px;
    min-height: 100px;
    border-right: 2px solid white;
    color: #747273; }
  #main #main-sidebar {
    color: #747273;
    float: right;
    width: 198px;
    padding: 10px;
    font-size: 12px; }
    #main #main-sidebar h1 {
      color: white;
      padding: 5px;
      font-size: inherit;
      text-align: center;
      border-radius: 10px;
      background: #314385;
      background: -webkit-gradient(linear, left top, left bottom, from(#356ebf), color-stop(0.5, #356ebf), to(#314385));
      /* Safari 4-5, Chrome 1-9 */
      background: -webkit-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
      /* Safari 5.1+, Chrome 10+ */
      background: -moz-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
      /* Firefox 3.6+ */
      background: -ms-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
      /* IE 10 */
      background: -o-linear-gradient(top, #356ebf, #356ebf 50%, #314385);
      /* Opera 11.10+ */ }
    #main #main-sidebar a {
      color: inherit; }
    #main #main-sidebar ul {
      margin: 0;
      padding: 0; }
      #main #main-sidebar ul li {
        list-style: none;
        background: url("/assets/images/bullet-arrow.svg") left center no-repeat;
        padding: 7px 0 7px 20px;
        border-bottom: 1px solid #333333; }
        #main #main-sidebar ul li:last-child {
          border-bottom: none; }
    #main #main-sidebar #main-sidebar-contact {
      font-size: 11px;
      line-height: 14px; }
      #main #main-sidebar #main-sidebar-contact img {
        float: left;
        width: 75px;
        margin-right: 5px; }

#main-full #main-image {
  width: 100%;
  height: 450px;
  background: url(/assets/images/home.jpg);
  background-size: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px; }
  #main-full #main-image a {
    color: inherit; }
  #main-full #main-image ul {
    padding: 60px 0 10px 0;
    margin: 0; }
    #main-full #main-image ul li {
      width: 300px;
      list-style: none;
      margin: 10px 0;
      padding: 5px 50px 5px 10px;
      font-size: 16px;
      font-weight: bold;
      background-color: #e9e9e9;
      /* Fallback */
      background: -webkit-gradient(linear, left top, right top, from(#fbfbfb), to(rgba(251, 251, 251, 0)));
      /* Safari 4-5, Chrome 1-9 */
      background: -webkit-linear-gradient(left, #fbfbfb, rgba(251, 251, 251, 0));
      /* Safari 5.1, Chrome 10+ */
      background: -moz-linear-gradient(left, #fbfbfb, rgba(251, 251, 251, 0));
      /* Firefox 3.6+ */
      background: -ms-linear-gradient(left, #fbfbfb, rgba(251, 251, 251, 0));
      /* IE 10 */
      background: -o-linear-gradient(left, #fbfbfb, rgba(251, 251, 251, 0));
      /* Opera 11.10+ */ }
      #main-full #main-image ul li:nth-child(1) {
        color: #e18013; }
      #main-full #main-image ul li:nth-child(2) {
        color: #b6da53; }
      #main-full #main-image ul li:nth-child(3) {
        color: #68c0b4; }
      #main-full #main-image ul li:nth-child(4) {
        color: #888888; }
#main-full p {
  padding: 0 10px;
  margin: 10px 0; }

#footer {
  clear: both;
  height: 45px; }
  #footer img {
    float: right; }
