<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/index.html">Home</a></li>
                <li><a href="#">Equality</a></li>
                <li><a href="#">Retention</a></li>
                <li><a href="#">Performance</a></li>
                <li><a href="#">Efficiency</a></li>
                <li><a href="#">Skills Mix</a></li>
                <li><a href="#">Education</a></li>
            </ul>
        </div>
        <div style="margin-top:50px">
            <ol class="breadcrumb">
                <li><a href="#">More health workers</a></li>
                <li><a href="#">Workforce is okay</a></li>
                <li><a href="#">Costed HRH plan</a></li>
            </ol>
        </div>

        {{ content }}
        <!--
        <div class="footer">
            <p>&copy; World Health Organisation 2013</p>
        </div>
        -->

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

