<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./assets/ico/favicon.png">

    <title>{{ page.title }}</title>

    <!-- Main stylesheet -->
    <link href="./assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./assets/js/html5shiv.js"></script>
      <script src="./assets/js/respond.min.js"></script>
    <![endif]-->

    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/jquery.cookie.js"></script>
    <script>
    $(document).ready(function() {
	$.cookie.json = true;
	$.cookie('breadcrumbs', [], { path: '/' });
    });
    </script>
  </head>
  <body>
    <div id="content">
      {% include header.html %}
      <form method="get" action="./search/" class="search home-search">
	<button type="submit">Search</button>
	<input name="q"/>
      </form>
      <div style="clear: both; height: 0;"></div>
      <div id="main-full">
	{{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
