---
layout: base
---

    <div class="jumbotron">
        <h2>{{ page.title }}</h2>
        <!--<p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p>-->
    </div>

<div class="row">  
    <div class="col-md-9"> 
        <ul>
        {% for question in page.questions %}
            <li><h5>{{ question.title }}</h5></li>
        {% endfor %}
        </ul>
        {% if page.links %}
            <h1></h1>
            {% include decisionbox.html %}
        {% endif %}
    </div>

    <div class="col-md-3">
        <div>
        {% if page.topics %}
            <div class="contextbox">
            <h4 class="text-center">Related Topics</h4>
            <ul>
            {% for topic in page.topics %}
                <li><a href="#">{{ topic }}</a></li>
            {% endfor %}
            </ul>
            </div>
        {% endif %}
        </div>
        <div>
            {% if page.resources %}
                <div class="contextbox">
                <h4 class="text-center">Resources</h4>
                <ul>
                {% for resource in page.resources %}
                    <li><a href="#">{{ resource }}</a></li>
                {% endfor %}
                </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>
